.wastes{
    margin: 4.8rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 4rem;
}
.wastes-heading{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 4.8rem;
        margin-top: 2.4rem;
}
.container h1{
    font-size: 4rem;
}
.type{
    gap: 2rem;
    aspect-ratio: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1.5rem;
    border: 2px solid black;
}
.waste-content{
    padding: 3.2rem;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    gap: 3rem; 
    background-color: rgba(0, 0, 0, 0.8);
}
.type h2{
    font-size: 2.7rem;
    text-align: center;
    color: rgb(0, 255, 0);
    text-shadow: 0 0 3px rgb(0, 255, 0);
}
.type h5{
    font-size: 1.7rem;
    text-align: center;
    color: rgb(255, 255, 255);
    /* text-shadow: 0 0 2px rgb(0, 255, 0); */
    letter-spacing: 2px;
    font-weight: 500;

}
.waste-1{
    background-image: url("./wasteImages/w-1.jpg");

}
.waste-2{
    background-image: url("./wasteImages/w-2.avif");

}
.waste-3{
    background-image: url("./wasteImages/w-3.jpg");

}
.waste-4{
    background-image: url("./wasteImages/w-4.webp");

}
.waste-5{
    background-image: url("./wasteImages/w-5.webp");

}
.waste-6{
    background-image: url("./wasteImages/w-6.jpg");

}
.waste-7{
    background-image: url("./wasteImages/w-7.jpg");

}
.waste-8{
    background-image: url("./wasteImages/w-8.jpg");

}
.waste-9{
    background-image: url("./wasteImages/w-9.jpg");

}
.waste-10{
    background-image: url("./wasteImages/w-10.jpg");

}
.waste-11{
    background-image: url("./wasteImages/w-11.jpg");

}
.waste-12{
    background-image: url("./wasteImages/w-12.webp");

}